.week3Container {
    height: auto;
    display: grid;
    grid-template-columns: 35% 1fr;
    gap: 1%;
    margin-top: 15px;
}

.productForm {
    /* background-color: antiquewhite; */
    padding: 12%;
    margin-top: 10%;
}

.productList {
    margin-top: 10%;
}